{% extends 'base.html' %}

{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">WELCOME <u>{{ user.username.upper }}</u>.</h2>
                    <h1 class="mx-auto my-0 text-uppercase">MANBEB</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">A Free, Fast and Reliable TextBook Resource For <u>Ethiopians</u>.</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#books">Get Started</a>
                </div>
            </div>
        </header>
        <!-- Books-->
        <section class="projects-section bg-light" id="books">
            <center><h1>TextBooks</h1></center>
            <div class="container">
                <!-- Featured Project Row-->
                {% for book in books %}

                <div class="row justify-content-center bg-black no-gutters mb-5 mb-lg-0"> <!-- bg-black helps if the photo height is smaller it darks the page-->
                    <div class="col-lg-6">
                        <img class="img-fluid"src="{{ book.cover.url }}" alt="" />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{ book }}</h4>
                                    <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                    <button class="btn success text-white">{{ book.branch }}</button>
                                    <button class="btn success text-white">Grade - {{ book.grade }} | {{ book.subject }}</button>

                                    <div class="container">
                                        <a href="{% url 'singleBook' book.id %}" class="btn btn-info">View <i class="fa fa-eye"></i></a>
                                        <button class="btn btn-success">Download <i class="fa fa-download"></i> </button>
                                        <!-- ADD SOME FONT-AWESOME ICONS FOR DOWNLOAD AND VIEW -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="d-none d-lg-block mb-0 ml-0" />
                {% endfor %}
                
            </div>
        </section>


{% endblock %}